// shared / general
html {
  background: gray;
  font-family: "Fondamento";
}

h1 {
  margin-bottom: 0;
}
button {
  background: none;
  border: none;
  margin: none;
  padding: none;
  cursor: pointer;
  font-family: "Fondamento";
}

// name space
#name-space {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #b09810;
  background-image: url("https://www.transparenttextures.com/patterns/large-leather.png");
  border: 1px solid #755030;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  height: 28px;

  white-space: nowrap;
  /* max-width: 80%; */
  position: relative;
  &.hidden {
    display: none;
  }
}

/* pin container */
#pin-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 3rem;
  gap: 10px;
  background-color: #eaca73;
  background-image: url("https://www.transparenttextures.com/patterns/large-leather.png");
  border: 1px solid #755030;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  padding-top: 2.3rem;
  min-width: 22.8rem;
  max-width: 94%;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  &.hidden {
    display: none;
  }
  &::before {
    content: "Pinned Names";
    color: #9c3535;
    position: absolute;
    top: 5px;
    width: 95%;
    text-align: center;
    border-bottom: 2px double #9c3535;
  }

  & > div > p::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  & > div > p {
    overflow-x: scroll;
    white-space: nowrap;
    /* background-color: red; */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
}

// copy button for pin container
#copy-pinned {
  /* background-color: red; */
  transform: translate(5px, 2px);
  &:hover > svg {
    transition: 0.4s;
    opacity: 0.4;
    /* fill: rgb(136, 173, 141); */
  }
  &:active > svg {
    fill: rgb(136, 0, 255);
    border-radius: 5px;
    /* fill: rgb(0, 255, 34); */
  }
}

.flex-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  height: 2rem;
}
.remove {
  font-size: 35px;
  font-weight: bold;
  color: #b09475;
  margin-bottom: 5px;
  &:hover {
    opacity: 0.9;
    color: rgb(214, 127, 104);
  }
}

.label {
  font-size: 15px;
  color: black;
  transform: translate(5px, 30px);
  text-shadow: 2px 2px 5px rgb(77, 76, 76);
  letter-spacing: 1px;
  &.hidden {
    display: none;
  }
}

.nameIdv {
  display: flex;
  align-items: center;
  gap: 0.5px;
  position: relative;
  overflow-y: visible;
}

.syl {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.strike {
  text-decoration: line-through 3px #b45c5c;
}
.option {
  border-bottom: 1px solid black;
  position: relative;
}
#last {
  cursor: pointer;
  transition: 0.2s;
}
#characterTitle {
  cursor: pointer;
  transition: 0.2s;
  .option:hover,
  .syl:hover {
    text-decoration: line-through 3px #b45c5c;
  }
}
/* #last + p:hover,
  div ~ p:hover {
    color: #974848;
  } */

.changer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  color: #646464;
  /* background-color: #847f6f; */
  top: 60px;
  left: -6px;
  color: white;
  font-weight: normal;
  transition: 0.4s;
  &:hover {
    opacity: 0.5;
  }
}
.rel {
  position: relative;
}

#legend {
  position: absolute;
  font-size: 14px;
  top: 100px;
  left: 12px;
  color: white;
  width: 10rem;
}

#button-group {
  display: flex;
  align-items: start;
  /*   height: fit-content; */
  gap: 5px;
  position: relative;
}

#instructions {
  color: rgb(65, 63, 63);
  font-size: 16px;
  max-width: 28rem;
  margin: 5px 10px 15px 10px;
  font-style: italic;
}

.button {
  border: 1px solid black;
  background: #755030;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-image: repeating-linear-gradient(
    -214deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25) 1px,
    transparent 0px,
    transparent 13px
  );
  background-size: 11px;
  background-position: 8px 10px;
  transition: 0.4s;
  &:disabled {
    opacity: 0.5;
  }
  &:hover {
    border: 1px #b7950b solid;
  }
  &:active {
    border: 1px red solid;
  }

  font-family: "Fondamento";
  font-size: 1.2rem;
  color: #f8f5e7;
  font-weight: bold;
  letter-spacing: 1px;
}

#resetAll {
  background-color: rgb(81, 128, 112);
}

.name-container {
  display: flex;
  gap: 5px;
  margin-top: 0.8rem;
}
#copy-button {
  background: none;
  border: none;
  transition: 0.4s;
  transform: translate(0, 15px);
  cursor: pointer;
  height: 1.1rem;
  /* background-color: red; */
  &:hover {
    opacity: 0.5;
  }
  &.hidden {
    display: none;
  }
}

#pin-button {
  background: none;
  border: none;
  transition: 0.4s;
  transform: translate(-8px, 15px);
  cursor: pointer;
  height: 1.3rem;
  /* background-color: red; */
  &:hover {
    opacity: 0.5;
  }
  &.hidden {
    display: none;
  }
}

.cr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  color: rgb(53, 53, 53);
  font-size: 14px;
}
